-- CreateEnum
CREATE TYPE "ExperienceLevel" AS ENUM ('BEGINNER', 'ENTRY_LEVEL', 'MID_LEVEL', 'SENIOR', 'EXPERT');

-- CreateEnum
CREATE TYPE "WorkPreference" AS ENUM ('REMOTE', 'HYBRID', 'ONSITE', 'FLEXIBLE');

-- AlterTable
ALTER TABLE "Profile" ADD COLUMN     "expectedSalary" TEXT,
ADD COLUMN     "experienceLevel" "ExperienceLevel",
ADD COLUMN     "hourlyRate" DOUBLE PRECISION,
ADD COLUMN     "isAvailableForWork" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "portfolioUrl" TEXT,
ADD COLUMN     "professionalBio" TEXT,
ADD COLUMN     "professionalHeadline" TEXT,
ADD COLUMN     "professionalTitle" TEXT,
ADD COLUMN     "resumeUrl" TEXT,
ADD COLUMN     "workPreference" "WorkPreference";

